<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'users/login.css' %}">
</head>
<body>


{% include "products/navbar.html" %}
{% load i18n %}

<section>
    <div class="login-box">
        <form action="{% url 'account_login' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <h2>Login</h2>

            {% if form and form.non_field_errors %}
            <ul class="err">
                {% for e in form.non_field_errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="input-box">
                <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                <!-- NAJWAŻNIEJSZE: name="username" (tu wpisujesz e-mail) -->
                <input type="email" id="id_email" name="username" placeholder=" " autocomplete="email" required>
                <label for="id_email">Email</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <!-- NAJWAŻNIEJSZE: name="password" -->
                <input type="password" id="id_password" name="password" placeholder=" " autocomplete="current-password"
                       required>
                <label for="id_password">Hasło</label>
            </div>

            <div class="remember-forgot">
                <label>
                    <input type="checkbox" name="remember"> Zapamiętaj mnie
                </label>
                <a href="{% url 'account_reset_password' %}">Zapomniałeś hasła?</a>
                <p>Nie dostałeś maila? <a href="{% url 'account_email' %}">Wyślij ponownie</a></p>

            </div>

            <button type="submit" class="baton">Zaloguj</button>

            <div class="register-link">
                <p>Nie masz jeszcze konta? <a href="{% url 'account_signup' %}">Zarejestruj się</a></p>
            </div>
        </form>

    </div>
</section>


{% include "products/footer.html" %}

<!-- Skrypty dla Ionicons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>
