Django
gunicorn
whitenoise
django-cors-headers
psycopg[binary]   # zostaw – przyda się, gdy kiedyś przejdziesz na Postgresa
dj-database-url   # wygodna obsługa zmiennej DATABASE_URL (możesz zostawić nawet dla SQLite)
django-import-export
certifi>=2024.2.2
django-allauth>=0.63