<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dziękujemy za zamówienie!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'orders/thank_you.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    {% include "products/navbar.html" %}

    <section class="thank-you-section">
        <div class="thank-you-container">
            <h1>Dziękujemy za Twoje zamówienie!</h1>
            <p class="thank-you-message">Twoje zamówienie zostało przyjęte i jest teraz w trakcie realizacji.</p>
        </div>
    </section>

{% include "products/footer.html" %}

<script src="{% static 'products/detail.js' %}"></script>
</body>
</html>
