<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% if mode == 'edit' %}Edytuj adres{% else %}Dodaj adres{% endif %} – Szamanka</title>
    <meta name="robots" content="noindex,nofollow">

    <link rel="canonical" href="{{ request.build_absolute_uri }}">
</head>
<body>

<form id="address-form" method="post"
      action="{% if mode == 'edit' %}{% url 'users:edit_address' address.id %}{% else %}{% url 'users:add_address' %}{% endif %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="action-button">Zapisz adres</button>
</form>

</body>
</html>