<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}

    <title>Ulubione produkty – Szamanka</title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'users/favorites.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
</head>

<body>

{% include "products/navbar.html" %}

<main class="favorites-page">

    <form id="non-visible-form" method="post">
        {% csrf_token %}
        <input type="text" id="search-input" placeholder="Szukaj...">
        <div id="live-results" class="not-visible"></div>
    </form>

    <section class="favorites-header">
        <h1>Twoje ulubione produkty</h1>
        <p>Wszystkie Twoje ulubione produkty w jednym miejscu!</p>
    </section>

    <!-- Lista ulubionych produktów -->
    <section class="favorites-list">
        {% if not empty %}
        {% for favorite in favorites %}
        <div class="favorite-item">
            <a href="{% url 'products:detail' favorite.product.pk %}">
                <img src="{% if favorite.product.product_image %}{{ favorite.product.product_image }}{% else %}{% static 'images/product2.png' %}{% endif %}"
                     alt="{{ favorite.product.product_name }}" class="favorite-image">
            </a>
            <div class="favorite-info">
                <h3>{{ favorite.product.product_name }}</h3>

                <!-- Używamy data-product-id zamiast href -->
                <a href="javascript:void(0);" class="btn btn-remove" data-product-id="{{ favorite.product.pk }}">Usuń&nbsp;z&nbsp;ulubionych</a>
            </div>
        </div>
        {% endfor %}

        {% else %}
        <p>Nie masz żadnych ulubionych produktów.</p>
        <a href="{% url 'products:produkty' %}" class="btn btn-primary">Zobacz produkty</a>
        {% endif %}
    </section>
</main>

{% include "products/footer.html" %}


<script src="{% static 'users/favorites.js' %}"></script>
<script src="{% static 'products/detail.js' %}"></script>


</body>
</html>
