<!doctype html>
<html lang="pl">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sprawdź email</title>
  <link rel="stylesheet" href="{% static 'users/login.css' %}">
</head>
<body>

{% include "products/navbar.html" %}

<section class="reset-section">
  <div class="login-box">
    <h2>Sprawdź email</h2>
    <p style="margin: 10px 0 0; line-height: 1.4;">
      Jeśli konto istnieje, wysłaliśmy wiadomość z linkiem do resetu hasła.
      Sprawdź skrzynkę odbiorczą oraz folder SPAM/Oferty.
    </p>

    <div class="register-link" style="margin-top: 16px;">
      <p><a href="{% url 'users:login' %}">Wróć do logowania</a></p>
    </div>
  </div>
</section>

{% include "products/footer.html" %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
<script src="{% static 'products/detail.js' %}"></script>
</body>
</html>
