<!doctype html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Rejestracja</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'users/style.css' %}">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <link type="module" href="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" rel="module" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>

  {% include "products/navbar.html" %}

  <div class="login-box">
    {% if auth_error %}
      <p style="color:#c00">{{ auth_error }}</p>
    {% endif %}
    {% if form.non_field_errors %}
      <ul style="color:#c00">
        {% for e in form.non_field_errors %}<li>{{ e }}</li>{% endfor %}
      </ul>
    {% endif %}
    <form action="{% url 'users:register' %}" method="post" id="registerForm">
      {% csrf_token %}
      <h2>Rejestracja</h2>

      <!-- Email -->
      <div class="input-box">
        <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
        <input type="email" id="email" name="email" placeholder=" " autocomplete="email" required>
        <label for="email">Email</label>
        {% for e in form.errors.email %}<div style="color:#c00">{{ e }}</div>{% endfor %}
      </div>

      <!-- Hasło -->
      <div class="input-box">
        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
        <input type="password" id="password1" name="password1" placeholder=" " autocomplete="new-password" minlength="8" required>
        <label for="password1">Hasło</label>
        {% for e in form.errors.password1 %}<div style="color:#c00">{{ e }}</div>{% endfor %}
      </div>

      <!-- Powtórz hasło -->
      <div class="input-box">
        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
        <input type="password" id="password2" name="password2" placeholder=" " autocomplete="new-password" minlength="8" required>
        <label for="password2">Powtórz hasło</label>
        {% for e in form.errors.password2 %}<div style="color:#c00">{{ e }}</div>{% endfor %}
      </div>

      <!-- Zgoda na Regulamin i Politykę Prywatności -->
      <div class="input-box1">
        <label>
          <input type="checkbox" name="accept_terms" required>
          Zapoznałem się z <a href="/products/regulamin" target="_blank">Regulaminem</a> oraz <a href="/products/polityka-prywatnosci" target="_blank">Polityką Prywatności</a>.
        </label>
      </div>

      <button type="submit" class="baton1">Utwórz konto</button>

      <div class="register-link">
        <p>Masz już konto? <a href="{% url 'users:login' %}">Zaloguj się</a></p>
      </div>
    </form>
  </div>

  {% include "products/footer.html" %}
  <!-- Skrypty Ionicons -->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


  <script src="{% static 'users/favorites.js' %}"></script>


</body>
</html>
