<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Szamanka-products</title>

    <link rel="stylesheet" href="home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

</head>
<body>

{% if user.is_authenticated %}
    <a href="{% url 'logout' %}"></a>
{% else %}
    <a href="{% url 'login' %}"></a>
{% endif %}

<nav>
    <div class="top-navbar">
        <div class="logo-search-bar">
            <h4 class="logo-name">Szamanka.pl</h4>
        </div>
        <div class="kategorie-nav">
            <div class="dropdown">
                <div class="select">
                    <a href="#" class="pasek1">Produkty</a>
                </div>
                <ul class="menu">
                    <li>Warzywa</li>
                    <li>Owoce</li>
                    <li>Przyprawy</li>
                    <li>Warzywa</li>
                    <li>Owoce</li>
                    <li>Przyprawy</li>
                    <li>Warzywa</li>
                    <li>Owoce</li>
                    <li>Przyprawy</li>
                </ul>
            </div>
            <div>
                <a href="#products-section" class="pasek1">Bestsellery</a>
            </div>
            <div>
                <a href="#" class="pasek1">Promocje</a>
            </div>
            <div>
                <a href="#o-nas-section" class="pasek1">O&nbsp;nas</a>
            </div>
            <div>
                <a href="#location-section" class="pasek1">Kontakt</a>
            </div>
        </div>

        <div class="search" id="search">
            <label>
                <input class="search__input" type="search" placeholder="Szukaj produktów..." disabled>
            </label>
            <button class="search__toggle" type="button" aria-label="Otwórz wyszukiwarkę">
                <i class="bx bx-search"></i>
            </button>
            <button class="search__clear" type="button" aria-label="Wyczyść">
                <i class="bx bx-x"></i>
            </button>
        </div>


        <div class="ikonki_nav">
            <img src="images/user.png" alt="login" class="nav-icon">
            <img src="images/heart.png" alt="ulubione" class="nav-icon">
            <img src="images/shopping-cart.png" alt="cart" class="nav-icon">
        </div>
    </div>
    <button class="burger" aria-label="Menu">
        <span class="bar"></span><span class=bar></span><span class=bar></span>
    </button>
</nav>

<section class="one-product-page">
    <div class="page-wrapper">
        <div class="image-wrapper">
            <div class="image-wrapper2">

                <img src="images/product2.png" alt="photo">

                <div class="mini-photo1"><img src="images/product2.png" alt="p1"></div>
                <div class="mini-photo2"><img src="images/product1.jpg" alt="p2"></div>
            </div>

        </div>
        <div class="product-info">
            <span class="directions">Home page/Products/olejki</span>
            <span class="product-name">
                Olejek do wlosow - <span>krotki opis firma taka i fajny olejek</span>
            </span>
            <span class="product-price">
                19.99$
            </span>
            <div class="quantity">
                <div class="calc-container">
                    <button class="minus">-</button>
                    <div class="calc-input">01</div>
                    <button class="plus">+</button>
                </div>
                <div class="cart">Dodaj&nbsp;do koszyka</div>
                <div class="favorite">Dodaj do ulubionych</div>
            </div>
            <div class="add-info-wrapper">
                <div>
                    <img src="#" alt="plus" class="add-icon">
                </div>
                <div class="add-info">
                    Twoje zamówienie wyślemy w ciągu 7 dni roboczych – najczęściej paczki docierają dużo szybciej!
                    Zadbaliśmy o bezpieczne pakowanie i sprawną obsługę dostawy.
                </div>
            </div>
            <div class="more-info-wrapper">
                <span>Kategoria: Olejki</span>
                <span>Producent: Herbapol</span>
            </div>

        </div>
    </div>
</section>

<section class="information-section">
    <div class="info-section-wrapper">
        <div class="info-description-wrapper">
            <div class="opis-wrapper">
                <h3>Opis</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                    Lorem ipsum dolor sit amet
                </span>
            </div>
            <div class="additional-info-wrapper">


                <div class="trans-photo-container">
                    <span class="trans-add">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </span>
                    <div class="trans-photo-wrapper">
                        <img src="images/a-photo.jpg" alt="hi" class="info-icon">
                    </div>
                </div>
            </div>

            <div class="p-page-newsletter">
                <div class="p-newsletter-wrapper">
                    <span>Dolacz do naszego newslettera<br>
                    otrzymuj informacje o promocjach i nowosciach</span>
                    <label>
                        <input class="p-newsletter-input" type="email" placeholder="Email">
                    </label>
                </div>

            </div>

        </div>

        <div class="info-photo-container">
            <h3 class="title">Podobne produkty:</h3>
            <div class="diff-products-wrapper">
                <div class="diff-product">
                    <img src="images/product2.png" alt="produkty" class="product-image">
                    <h3>Nazwa Produktu</h3>

                    <h4 class="price">120.50 zl</h4>
                    <div class="products-cart">
                        <img src="images/shopping-cart-white.png" alt="cart" class="cart-icon">
                    </div>
                    <i class='bx  bx-heart'></i>
                    <div class="calc-product">
                        <button type="button" class="minus">-</button>

                        <div class="calc-input">01</div>

                        <button type="button" class="plus">+</button>
                    </div>


                </div>
                <div class="diff-product">
                    <img src="images/product2.png" alt="produkty" class="product-image">
                    <h3>Olejek naturalny etja homogenizowany</h3>

                    <h4 class="price">120.50 zl</h4>
                    <div class="products-cart">
                        <img src="images/shopping-cart-white.png" alt="cart" class="cart-icon">
                    </div>
                    <i class='bx  bx-heart'></i>
                    <div class="calc-product">
                        <button type="button" class="minus">-</button>

                        <div class="calc-input">01</div>

                        <button type="button" class="plus">+</button>
                    </div>
                </div>

                <div class="diff-product">
                    <img src="images/product2.png" alt="produkty" class="product-image">
                    <h3>Olejek naturalny etja</h3>

                    <h4 class="price">120.50 zl</h4>
                    <div class="products-cart">
                        <img src="images/shopping-cart-white.png" alt="cart" class="cart-icon">
                    </div>
                    <i class='bx  bx-heart'></i>
                    <div class="calc-product">
                        <button type="button" class="minus">-</button>

                        <div class="calc-input">01</div>

                        <button type="button" class="plus">+</button>
                    </div>


                </div>
                <div class="diff-product">
                    <img src="images/product2.png" alt="produkty" class="product-image">
                    <h3>Olejek naturalny etja</h3>

                    <h4 class="price">120.50 zl</h4>
                    <div class="products-cart">
                        <img src="images/shopping-cart-white.png" alt="cart" class="cart-icon">
                    </div>
                    <i class='bx  bx-heart'></i>
                    <div class="calc-product">
                        <button type="button" class="minus">-</button>

                        <div class="calc-input">01</div>

                        <button type="button" class="plus">+</button>
                    </div>


                </div>
                <div class="diff-product">
                    <img src="images/product2.png" alt="produkty" class="product-image">
                    <h3>Olejek naturalny etja</h3>

                    <h4 class="price">120.50 zl</h4>
                    <div class="products-cart">
                        <img src="images/shopping-cart-white.png" alt="cart" class="cart-icon">
                    </div>
                    <i class='bx  bx-heart'></i>
                    <div class="calc-product">
                        <button type="button" class="minus">-</button>

                        <div class="calc-input">01</div>

                        <button type="button" class="plus">+</button>
                    </div>


                </div>



            </div>

        </div>
    </div>
</section>


<footer class="footer">
    <div class="footer-container">

        <div class="footer-box" id="socials-foot">
            <h3><a href="#" class="footer-title">Szamanka</a></h3>
            <p>Nasielsk 123/456</p>
            <p>szamanka@nasielsk.pl</p>
            <div class="footer-social">
                <a href="#"><img src="images/facebook.png" alt="fb" class="footer-social-icons"></a>
                <a href="#"><img src="images/instagram.png" class="footer-social-icons" alt="instagram"></a>
                <a href="#"><img src="images/tik-tok.png" class="footer-social-icons" alt="tiktok"></a>
            </div>
        </div>

        <div class="footer-box" id="info-foot">
            <h3>Pomoc</h3>
            <a href="#">Menu</a>
            <a href="#">Kontakt</a>
            <a href="#">Polityka prywatności</a>
            <a href="#">Zwroty</a>
        </div>

        <div class="footer-box" id="call-to-mail">
            <div class="nowrap-email">
                <h3><a href="#" class="footer-newsletter">Podaj email</a></h3>
                <p>Zapisz się do newslettera <br><br>i otrzymaj 10% znizki</p>

                <form action="#">
                    <i class="bx bx-mail-send"></i>
                    <label class="input-box">
                        <input type="email" placeholder="Email" class="email-footer">
                    </label>
                    <i class='bxr bx-arrow-right-stroke-square'></i>
                </form>
            </div>
        </div>

    </div>
</footer>
<section class="copyright">
    <div class="copyright-container">
        <div class="copyright"><p>&copy; 2025 Szamanka. Wszelkie prawa zastrzeżone.</p></div>
        <div class="payment-icons">
            <img src="images/visa.png" alt="Visa" class="pay-icons">
            <img src="images/card.png" alt="Mastercard" class="pay-icons">
            <img src="images/blik.png" alt="BLIK" class="pay-icons" id="ikonka-blik">
            <img src="images/przelewy24.png" alt="Przelewy24" class="pay-icons">
            <img src="images/payu.png" alt="PayU" class="pay-icons">
            <img src="images/paypal.png" alt="PeoPay" class="pay-icons">
        </div>
    </div>
</section>


<script src="home.js"></script>

</body>
</html>