<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Polityka Prywatności</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'products/private.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>

</head>
<body>

{% include "products/navbar.html" %}

<div class="privacy-policy-container">
    <h1>Polityka Prywatności</h1>

    <form id="non-visible-form" method="post">
        {% csrf_token %}
        <input type="text" id="search-input" placeholder="Szukaj...">
        <div id="live-results" class="not-visible"></div>
    </form>

    <section class="privacy-section">
        <h2>1. Wstęp</h2>
        <p>W niniejszej Polityce Prywatności wyjaśniamy, jak zbieramy, przetwarzamy i chronimy Twoje dane osobowe,
            korzystając z naszej strony internetowej oraz usług. Dbamy o Twoją prywatność i zobowiązujemy się do
            przestrzegania odpowiednich przepisów prawnych.</p>
    </section>

    <section class="privacy-section">
        <h2>2. Jakie dane zbieramy?</h2>
        <p>Podczas korzystania z naszej strony, możemy zbierać następujące dane:</p>
        <ul>
            <li>Dane kontaktowe: imię, nazwisko, adres e-mail, numer telefonu.</li>
            <li>Dane lokalizacyjne: Twoja lokalizacja geograficzna, jeżeli wyrazisz zgodę.</li>
            <li>Informacje o korzystaniu ze strony: adres IP, czas spędzony na stronie, interakcje z treściami.</li>
        </ul>
    </section>

    <section class="privacy-section">
        <h2>3. Jakie dane zbieramy i na jakiej podstawie je przetwarzamy?</h2>
        <p>Podczas korzystania z naszej strony, możemy zbierać następujące dane:</p>
        <ul>
            <li>Dane kontaktowe: imię, nazwisko, adres e-mail, numer telefonu – na podstawie zgody użytkownika lub w
                celu wykonania umowy (np. realizacja zamówienia).
            </li>
            <li>Dane lokalizacyjne: Twoja lokalizacja geograficzna, jeżeli wyrazisz zgodę.</li>
            <li>Informacje o korzystaniu ze strony: adres IP, czas spędzony na stronie, interakcje z treściami – na
                podstawie zgody użytkownika lub uzasadnionego interesu (np. analiza ruchu na stronie).
            </li>
        </ul>
        <p>Dane przetwarzamy na podstawie:</p>
        <ul>
            <li>Art. 6 ust. 1 lit. a RODO (zgoda użytkownika) – w przypadku danych, które użytkownik podaje dobrowolnie,
                np. zgoda na otrzymywanie newslettera, zgoda na marketing;
            </li>
            <li>Art. 6 ust. 1 lit. b RODO (wykonanie umowy) – w celu realizacji zamówień i świadczenia usług;</li>
            <li>Art. 6 ust. 1 lit. c RODO (obowiązki prawne) – w celu spełnienia obowiązków prawnych (np. przechowywanie
                danych na potrzeby podatkowe, archiwizowanie transakcji).
            </li>
        </ul>
    </section>

    <section class="privacy-section">
        <h2>4. Jak chronimy Twoje dane?</h2>
        <p>Twoje dane osobowe są chronione przy użyciu odpowiednich środków bezpieczeństwa, w tym szyfrowania danych i
            zabezpieczeń systemowych. Staramy się zapobiegać nieautoryzowanemu dostępowi lub ujawnieniu Twoich
            danych.</p>
    </section>

    <section class="privacy-section">
        <h2>5. Przechowywanie danych</h2>
        <p>Dane osobowe przechowujemy przez okres niezbędny do realizacji celu, w tym przez czas realizacji zamówienia,
            a także przez czas wymagany przepisami prawa (np. przechowywanie danych do celów podatkowych przez 5
            lat).</p>
    </section>

    <section class="privacy-section">
        <h2>6. Twoje prawa</h2>
        <p>Masz prawo do:</p>
        <ul>
            <li>Dostępu do swoich danych osobowych.</li>
            <li>Poprawiania swoich danych osobowych.</li>
            <li>Usunięcia swoich danych osobowych.</li>
            <li>Ograniczenia przetwarzania swoich danych osobowych.</li>
            <li>Przenoszenia swoich danych osobowych do innego administratora.</li>
            <li>Wniesienia skargi do organu nadzorczego (Prezesa Urzędu Ochrony Danych Osobowych).</li>
        </ul>
    </section>

    <section class="privacy-section">
        <h2>7. Kontakt</h2>
        <p>Jeśli masz pytania dotyczące naszej polityki prywatności lub chcesz skorzystać ze swoich praw, skontaktuj się
            z nami pod adresem: <a href="#">szamankasklep@wp.pl</a></p>
    </section>

    <section class="privacy-section">
        <h2>8. Administrator danych osobowych</h2>
        <p>Administratorem Twoich danych osobowych jest <strong>Szamanka Sp. z o.o.</strong>, ul. Kilińskiego 22, 05-190
            Nasielsk, Polska. Możesz skontaktować się z nami pod adresem: <a href="#">szamankasklep@wp.pl</a></p>
    </section>

    <section class="privacy-section">
        <h2>9. Zgoda na przetwarzanie danych</h2>
        <p>Jeśli przetwarzamy Twoje dane na podstawie zgody (np. dla celów marketingowych), masz prawo do jej wycofania
            w dowolnym momencie, kontaktując się z nami pod adresem: <a href="#">szamankasklep@wp.pl</a></p>
    </section>

    <section class="privacy-section">
        <h2>10. Cookies</h2>
        <p>Nasza strona wykorzystuje pliki cookies w celu zapewnienia prawidłowego działania
            serwisu, w szczególności do utrzymania sesji użytkownika oraz ochrony formularzy.
            Są to pliki niezbędne do świadczenia usługi i nie służą do profilowania ani marketingu. Cookies mogą być
            przechowywane przez czas trwania sesji lub przez okres wynikający z ich ustawień. Użytkownik może w każdej
            chwili ograniczyć lub zablokować cookies w ustawieniach swojej przeglądarki – może to jednak wpłynąć na
            działanie strony.</p>
    </section>

</div>

{% include "products/footer.html" %}

<script src="{% static 'products/detail.js' %}"></script>

</body>
</html>
