<!DOCTYPE html>
<html lang="pl">
<head>
    <!-- TEMPLATE: products/index.html -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Szamanka-products</title>

    {% load static %}

    <!-- jeśli plik masz w static/ -> np. static/products.css -->
    <link rel="stylesheet" href="{% static 'products/products.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>


    <script>
        var cartAddUrl = "{% url 'orders:cart_add' %}";
    </script>

</head>
<body>

<form method="get" id="navFilterForm" style="display:none">
    <input type="hidden" name="type" id="navTypeInput" value="{{ selected|default:'' }}">
    {% csrf_token %}
</form>


{% include "products/navbar.html" %}

<section class="products-section" id="products-section">
    <div class="products-wrapper">

        <!-- LEWE MENU: zostawiam statyczne, żeby wygląd nie uciekł -->
        <div class="products-menu">
            <div class="products-menu-item-title">Kategorie</div>
            <div class="products-menu-item">
                <span class="title-link" data-type="Promocje">Promocje</span>
                <a href="{% url 'products:produkty' %}?bestsellers=true" class="title-link" id="bestsellers-link">Bestsellery</a>
                <span class="title-link" data-type="Nowosci">Nowosci</span>
            </div>

            <div class="products-menu-item">
                <span class="title-link title-link1" data-type="spozywcze">Artykuly spozywcze</span>
                <a href="#" class="products-menu-link" data-type="Maki">Maki</a>
                <a href="#" class="products-menu-link" data-type="Orzechy">orzechy</a>
                <a href="#" class="products-menu-link" data-type="Przekaski">przekaski</a>
                <a href="#" class="products-menu-link" data-type="Miody">miody</a>
                <a href="#" class="products-menu-link" data-type="Inne">inne</a>
            </div>

            <div class="products-menu-item">
                <span class="title-link" data-type="suplementy">Suplementy diety</span>
            </div>

            <div class="products-menu-item">
                <span class="title-link">Kosmetyki</span>

                <div class="submenu-block">
                    <a href="#" class="products-menu-link subtitle-link" data-type="kosmetyki do twarzy">Do twarzy</a>
                    <button class="submenu-toggle" type="button" aria-label="Rozwiń Do twarzy"></button>
                </div>
                <div class="submenu-panel">
                    <a class="products-cat2" href="#" data-type="Hydrolaty">Hydrolaty</a>
                    <a class="products-cat2" href="#" data-type="Olejki pod oczy">Olejki&nbsp;pod oczy</a>
                    <a class="products-cat2" href="#" data-type="Kosmetyki kolorowe">Kosmetyki kolorowe</a>
                    <a class="products-cat2" href="#" data-type="Pomadki do ust">Pomadki do ust</a>
                    <a class="products-cat2" href="#" data-type="Maseczki">Maseczki</a>
                    <a class="products-cat2" href="#" data-type="Kremy">Kremy</a>
                    <a class="products-cat2" href="#" data-type="Peelingi">Peelingi</a>
                    <a class="products-cat2" href="#" data-type="Zele i pianki">Zele i pianki</a>
                    <a class="products-cat2" href="#" data-type="Serum">Serum</a>
                    <a class="products-cat2" href="#" data-type="Plyny nicelarne">Plyny nicelarne</a>
                </div>

                <div class="submenu-block">
                    <a href="#" class="products-menu-link subtitle-link" data-type="kosmetyki do ciała">Do ciala</a>
                    <button class="submenu-toggle" type="button" aria-label="Rozwiń Do ciała"></button>
                </div>
                <div class="submenu-panel">
                    <a class="products-cat2" href="#" data-type="Dezodoranty">Dezodoranty</a>
                    <a class="products-cat2" href="#" data-type="Sole">Sole</a>
                    <a class="products-cat2" href="#" data-type="Olejki">Olejki</a>
                    <a class="products-cat2" href="#" data-type="Zele do mycia">Zele do mycia</a>
                    <a class="products-cat2" href="#" data-type="Peelingi">Peelingi</a>
                    <a class="products-cat2" href="#" data-type="Mydla">Mydla</a>
                    <a class="products-cat2" href="#" data-type="Higiena intymna">Higiena intymna</a>
                    <a class="products-cat2" href="#" data-type="Balsamy">Balsamy</a>
                </div>

                <div class="submenu-block">
                    <a href="#" class="products-menu-link subtitle-link" data-type="kosmetyki do włosów">Do wlosow</a>
                    <button class="submenu-toggle" type="button" aria-label="Rozwiń Do włosów"></button>
                </div>
                <div class="submenu-panel">
                    <a class="products-cat2" href="#" data-type="Odzywki i maski">Odzywki i maski</a>
                    <a class="products-cat2" href="#" data-type="Wcierki">Wcierki</a>
                    <a class="products-cat2" href="#" data-type="Olejki">Olejki</a>
                    <a class="products-cat2" href="#" data-type="Szampony">Szampony</a>
                    <a class="products-cat2" href="#" data-type="Farby">Farby</a>
                    <a class="products-cat2" href="#" data-type="Akcesoria">Akcesoria</a>
                    <a class="products-cat2" href="#" data-type="Peelingi">Peelingi</a>
                </div>
            </div>

            <div class="products-menu-item">
                <span class="title-link" data-type="masci">Masci</span>
                <a href="#" class="products-menu-link" data-type="Przeciwbolowe">Przeciwbolowe</a>
                <a href="#" class="products-menu-link" data-type="Problemy skorne">Problemy skorne</a>
                <a href="#" class="products-menu-link" data-type="Inne">Inne</a>
            </div>
            <div class="products-menu-item">
                <span class="title-link" data-type="ziola">Ziola</span>
            </div>
            <div class="products-menu-item">
                <span class="title-link" data-type="inne">Inne</span>
                <a href="#" class="products-menu-link" data-type="Perfumy">Perfumy</a>
                <a href="#" class="products-menu-link" data-type="Dyfuzory">Dyfuzory</a>
                <a href="#" class="products-menu-link" data-type="Olejki eteryczne">Olejki eteryczne</a>
                <a href="#" class="products-menu-link" data-type="Swiece zapachowe">Swiece zapachowe</a>
                <a href="#" class="products-menu-link" data-type="Poduszki">Poduszki</a>
                <a href="#" class="products-menu-link" data-type="Pasty do zebow">Pasty do zebow</a>
            </div>
        </div>

        <form method="get" class="mb-4">
            <label for="type">Kategoria:</label>
            <select name="type" id="type" onchange="this.form.submit()">
                <option value="">Wszystkie</option>
                {% for c in categories %}
                <option value="{{ c.product_type }}"
                        {% if selected == c.product_type %}selected{% endif %}>
                    {{ c.product_type }}
                </option>
                {% endfor %}
            </select>
            <noscript>
                <button type="submit">Filtruj</button>
            </noscript>
        </form>


        <div class="all-products">
            <div class="sort-by">sort&nbsp;by:</div>
            <div class="sort-wrapper">
                <div class="sort">Produkty</div>
                <div class="caret"></div>
                <ul class="sort-list">
                    <li data-type="Najpopularniejsze">Najpopularniejsze</li>
                    <li data-type="Nowosci">Nowosci</li>
                    <li data-type="Promocje">Promocje</li>
                    <li>
                        <a href="{% url 'products:produkty' %}?bestsellers=true">Bestsellery</a>
                    </li>
                </ul>
            </div>



            {% if products %}

            {% for p in products %}
            <div class="product" data-stock="{{ p.product_stock|default:9999 }}">
                <a href="{% url 'products:detail' p.pk %}">
                    <img
                            src="{% if p.image %}{{ p.image.url }}{% else %}{% static 'images/product2.png' %}{% endif %}"
                            alt="{{ p.product_name }}"
                            class="product-image">
                </a>

                <h3>
                    <a href="{% url 'products:detail' p.pk %}">{{ p.product_name }}</a>
                </h3>


                <h4 class="price">{{ p.price|floatformat:2 }}&nbsp;zł</h4>

                <form method="post" action="{% url 'orders:cart_add' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ p.pk }}">
                    <input type="hidden" name="quantity" value="1">

                    <div class="products-cart{% if p.product_stock|default:0 <= 0 %} disabled{% endif %}">
                        <!-- Formularz wysyłający dane produktu do koszyka -->
                        <button type="submit" class="cart-icon" data-product-id="{{ p.pk }}" >
                            <img src="{% static 'products/images/shopping-cart-white.png' %}" alt="cart" class="cart-icon" />
                        </button>
                    </div>
                </form>
                <a href="javascript:void(0);" class="favorite-toggle" data-product-id="{{ p.pk }}">
                    <i class="bx bx-heart {% if p.pk in favorite_product_ids %}bxs-heart{% endif %}"
                       style="{% if p.pk in favorite_product_ids %}color: red;{% endif %}"></i>
                    <!-- Serce pełne i czerwone, jeśli produkt jest w ulubionych -->
                </a>

                <div class="calc-product{% if p.product_stock|default:0 <= 0 %} disabled{% endif %}">
                    <button type="button" class="minus" aria-label="zmniejsz ilość">-</button>
                    <div class="calc-input" data-min="1" data-max="{{ p.product_stock|default:9999 }}">01</div>
                    <button type="button" class="plus" aria-label="zwiększ ilość">+</button>
                </div>
            </div>
            {% endfor %}

            <!-- „Więcej produktów” = następna strona paginacji -->
            <div class="pagination">
                {% if page_obj.has_previous %}
                <a href="?{% if selected %}type={{ selected }}&{% endif %}q={{ q|urlencode }}&page={{ page_obj.previous_page_number }}">←&nbsp;Poprzednia</a>
                {% endif %}

                <span>Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}</span>

                {% if page_obj.has_next %}
                <a href="?{% if selected %}type={{ selected }}&{% endif %}q={{ q|urlencode }}&page={{ page_obj.next_page_number }}">Następna&nbsp;→</a>
                {% endif %}
            </div>
            {% else %}
            <p>Brak produktów.</p>
            {% endif %}
        </div>

    </div>
</section>



{% include "products/footer.html" %}


<script src="{% static 'products/navbar.js' %}"></script>
<script src="{% static 'products/products.js' %}"></script>
<script src="{% static 'products/searching.js' %}"></script>


</body>
</html>
